<h1>Results</h1>

<% if (!data.hasOwnProperty("Error")) {data.Search.forEach(function(movie) { %>
<ul>
    <li> <strong><%= movie.Title %> </strong>- <%= movie.Year %> </li>
</ul>

<% }) } else { %>
<%= data.Error%>
<% } %> 

<a href="/">search again!</a>
